# Deploys a web application that was provisioned by a Platina compatible CLI.
parameters:
- name: azureSubscription
  type: string
  displayName: 'Azure Subscription to deploy to.'
- name: variablePrefix
  type: string
  displayName: 'Prefix used in output variables from Platina provision CLI.'
  default: 'Platina'
- name: module
  type: string
  displayName: 'Platina module name.'
- name: webApp
  type: string
  displayName: 'Web application resource name'
- name: webAppResourceGroup
  type: string
  displayName: 'Web application resource group name'
- name: webAppSlot
  type: string
  displayName: 'Web application deployment slot name'
  default: production
- name: package
  type: string
  displayName: "Path to zip package to deploy. The deployment will be skipped if this file doesn't exist."
- name: deploymentType
  type: string
  displayName: "Deployment type for the AzureRmWebAppDeployment task."
  default: zipDeploy
- name: label
  type: string
  displayName: "Optional label to prefix steps in pipeline."
  default:
- name: postStagingSteps
  type: stepList
  default: []
  displayName: "Optional steps to execute after staging slot deploy, before swapping slots (e.g. smoke testing)."
- name: postDeploySteps
  type: stepList
  default: []
  displayName: "Optional steps to execute after production slot deploy, before cleaning up the old slot (when applicable)."

steps:
- task: PowerShell@2
  displayName: '${{ coalesce(parameters.label, parameters.module) }} - Check preconditions'
  inputs:
    targetType: 'inline'
    script: |
      If (-Not (Test-Path '${{ parameters.package }}' -PathType Leaf)) {
          Write-Host "Deployment package doesn't exist."
          Write-Host "##vso[task.setVariable variable=skipWebApp]true"
      }
      ElseIf ('$(${{ parameters.webApp }})' -eq '') {
          Write-Host "Web app name '${{ parameters.webApp }}' not set."
          Write-Host "##vso[task.setVariable variable=skipWebApp]true"
      }
      Else {
          Write-Host "Preconditions have been met to continue web app deployment."
          Write-Host "Deployment package: '${{ parameters.package }}'"
          Write-Host "Web app name: '$(${{ parameters.webApp }})'"
          Write-Host "##vso[task.setVariable variable=skipWebApp]false"
      }

- task: AzureRmWebAppDeployment@4
  displayName: '${{ coalesce(parameters.label, parameters.module) }} - Deploy'
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: ${{ parameters.azureSubscription }}
    WebAppKind: 'webApp'
    WebAppName: ${{ parameters.webApp }}
    deployToSlotOrASE: true
    ResourceGroupName: ${{ parameters.webAppResourceGroup }}
    SlotName: ${{ parameters.webAppSlot }}
    Package: ${{ parameters.package }}
    DeploymentType: ${{ parameters.deploymentType }}
    enableCustomDeployment: true
    TakeAppOfflineFlag: false
  condition: and(succeeded(), ne(variables['skipWebApp'], 'true'))

- ${{ if and(parameters.webAppSlot, eq(parameters.webAppSlot, 'production')) }}:
  - ${{ each step in parameters.postDeploySteps }}:
    - ${{ step }} 
    
- ${{ if and(parameters.webAppSlot, ne(parameters.webAppSlot, 'production')) }}:
  - ${{ each step in parameters.postStagingSteps }}:
    - ${{ step }} 

  - task: AzureAppServiceManage@0
    displayName: '${{ coalesce(parameters.label, parameters.module) }} - Swap slots'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      Action: 'Swap Slots'
      WebAppName: ${{ parameters.webApp }}
      ResourceGroupName: ${{ parameters.webAppResourceGroup }}
      SourceSlot: ${{ parameters.webAppSlot }}
    condition: and(succeeded(), ne(variables['skipWebApp'], 'true'), ne(variables['${{ parameters.variablePrefix }}${{ parameters.module }}WebAppSlot'], 'production'))

  - ${{ each step in parameters.postDeploySteps }}:
    - ${{ step }} 

  - task: AzureAppServiceManage@0
    displayName: '${{ coalesce(parameters.label, parameters.module) }} - Remove slot'
    inputs:
      azureSubscription: ${{ parameters.azureSubscription }}
      Action: 'Delete Slot'
      WebAppName: ${{ parameters.webApp }}
      ResourceGroupName: ${{ parameters.webAppResourceGroup}}
      Slot: ${{ parameters.webAppSlot }}
    condition: and(succeeded(), ne(variables['skipWebApp'], 'true'), ne(variables['${{ parameters.variablePrefix }}${{ parameters.module }}WebAppSlot'], 'production'))
